<div class="entry-form">
  <div class="entry-form-title">編集画面</div>
  <%= form_with model: @portfolio, local: true do |f| %>
    <div class="form-body">
      <div class="form-field">
        <label>作品タイトル
          (<span class="indispensable">必須</span>)
        </label>
        <%= f.text_field :title, class: "portfolio-title" %>
      </div>
      <div class="form-field">
        <label>言語
          (<span class="indispensable">必須</span>)
        </label>
        <%= f.text_field :language, class: "portfolio-language" %>
      </div>
      <div class="text-field">
        <label>説明欄※200字以内※
          (<span class="indispensable">必須</span>)
        </label>
        <%= f.text_area :text, class: "portfolio-text" %>
      </div>
      <div class="form-field">
        <label>URL
          (<span class="indispensable">必須</span>)
        </label>
        <%= f.text_field :url, class: "portfolio-url" %>
      </div>
      <div class="submit-btn">
        <%= f.submit "編集する", class: "btn" %>
      <div>
    </div>
  <% end %>
  <div class="return-btn">
    <%= link_to "戻る", portfolio_path(@portfolio.id), class: "btn" %>
  </div>
</div>