<header class="header">
  <div class="header-bar">
    <h1 class="header-left">ポートフォリオ見せ場</h1>
    <div class="header-right">
    <%= current_user.nickname if user_signed_in? %>
    <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, id: "logout", method: :delete %>
      <%= link_to "投稿する", new_portfolio_path, id: "new-post" %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, id: "login" %>
      <%= link_to "新規登録", new_user_registration_path, id: "signup" %>
    <% end %>
    </div>
  </div>
</header>
<main class="main">
  <div class="main-contents">
    <% @portfolios.each do |portfolio| %>
      <div class="contents">
        <p class="contents-user">
          <%= "作者：#{portfolio.user.nickname}" %>
        </p>
        <p class="contents-title">
          <%= "タイトル：#{portfolio.title}" %>
        </p>
        <p class="contents-language">
          <%= "言語：#{portfolio.language}" %>
        </p>
        <p>
        詳細
        </p>
      </div>
    <% end %>
  </div>
</main>
<footer class="footer">
</footer>