<h1>
  検索結果
</h1>
<% if @results.length !=0 %>
  <% @results.each do |result| %>
    <td>
    <br>
    <li>
      <%= result.user.nickname %>
      <%= result.title %>
      <%= result.language %>
    </li>
    <% if user_signed_in? %>
      <p class="go-to-show">
        <%= link_to "詳細", portfolio_path(result.id), method: :get %>
      </p> 
    <% end %>
  <% end %>
<% else %>
  該当する商品はありません
<% end %>
<br>
<%= link_to 'トップページへ戻る', root_path %>